{{- if eq .chezmoi.os "windows" }}

scoop install cloc cmake curl everything fzf geekuninstaller googlechrome grep mobaxterm motrix neovim pwsh python snipaste sudo vim windows-terminal wiztree

{{- end }}
